body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, rgba(22,5,48,0.9332107843137255) 88%, rgba(13,33,75,0.9836309523809523) 100%);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
