@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>
                <a translate="APP_BUTTON" style="color:azure;" href="#!Principal"></a>
            </li>

            <li>
             <a translate="ACCOUNT_MANAG_BUTTON" style="color:azure;" href="/Manage"></a>
            </li>

            <li>
               <a translate="EXIT_BUTTON" style="color:azure;" href="/Account/LogOff"></a>
                @*<span class="glyphicon glyphicon-log-out"></span>@Html.ActionLink("Salir", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logofflink", style = "color:azure;" })*@
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <a href="/Account/Login"><button style="padding-top:15%; padding-bottom:15%;border-top:0px;border-bottom:0px;background-color:transparent;color:azure;border-right:10px;border-left:10px;border-color:azure;" class="btn"><span class="glyphicon glyphicon-log-in"></span> <span translate="LOG_IN"></span></button></a>
       @*@Html.ActionLink("Ingresar a FunClub!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color:azure;" })*@
    </ul>
}
