
<div class="row">

    <div ng-controller="Ctrl" ng-view>

    </div>
     
            <div ng-controller="Ctrl" class="footer">
                <div class="container">
                    <div class="col-sm-3">
                        <h4 class="title">FunClub!</h4>
                        <p translate="FOOTER_REDES"><p>
                        <ul class="social-icon">
                            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4 translate="TITULO_CONFIG" class="title"></h4>
                        <span class="acount-icon">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i><span translate="MICUENTA_BTN"></span></a>
                            <a href="#"><i class="fa fa-language" aria-hidden="true"></i> <span translate="SELECT_LANG_BTN"></span></a>
                          
                                <button translate="BUTTON_LANG_ES" class="btn btn-default" ng-click="changeLanguage('es')"><span class="fa fa-flag" aria-hidden="true"></span> Español</button>
                                <button translate="BUTTON_LANG_EN" class="btn btn-default" ng-click="changeLanguage('en')"><span class="fa fa-flag" aria-hidden="true"></span> Inglés</button>
                          
                        </span>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="title">Tags</h4>
                        <div class="category">
                            <a href="#">disco</a>
                            <a href="#">women</a>
                            <a href="#">boy</a>
                            <a href="#">girl</a>
                            <a href="#">boliche</a>
                            <a href="#">party</a>
                            <a href="#">disco</a>
                            <a href="#">caba</a>
                            <a href="#">gba</a>
                            <a href="#">premium</a>
                            <a href="#">drink</a>
                            <a href="#">fest</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4 translate="MEDIO_PAGO_TITULO" class="title"></h4>
                        <p translate="MEDIO_PAGO_TEXTO"></p>
                        <ul class="payment">
                            <li><a href="#"><i class="fa fa-cc-amex" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


</div>