<style>
    .jumbotron {
        text-align: center;
        width: 50%;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 4rem auto;
        background-color: #fff;
        padding: 2rem;
    }

    .container .glyphicon-check {
        font-size: 10rem;
        margin-top: 3rem;
        color: #f96145;
    }

    input {
        width: 100%;
        margin-bottom: 1.4rem;
        padding: 1rem;
        background-color: #ecf2f4;
        border-radius: 0.2rem;
        border: none;
    }

    h2 {
        margin-bottom: 3rem;
        font-weight: bold;
        color: #ababab;
    }

    /*.btn {
        border-radius: 0.2rem;
    }*/

    /*.btn .glyphicon {
            font-size: 3rem;
            color: #fff;
        }*/

    .full-width {
        background-color: #8eb5e2;
        width: 100%;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .box {
        bottom: 0;
        left: 0;
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
</style>
<div ng-include="'/SPA/Views/ToolBar.html'"></div>
<div class="container">
    <div class="jumbotron">
        <div ng-show="!NuevaDisco && !GestionDisco">
            <button class="btn btn-link" ng-click="NuevaDisco = true"><h1 style="color:orangered" class="glyphicon glyphicon-headphones"></h1><br /><h4>Nueva Discoteca</h4></button>
            <button class="btn btn-link" ng-click="GestionDisco = true"><h1 style="color:orangered" class="glyphicon glyphicon-edit"></h1><br /><h4>Gestión Discotecas</h4></button>
        </div>
        <div ng-show="NuevaDisco || GestionDisco">
            <button class="btn btn-link" ng-click="GestionDisco = false;NuevaDisco = false">Volver</button>
        </div>
        <div ng-show="NuevaDisco && !GestionDisco">
            <span class="glyphicon glyphicon-check"></span>
            <h2>Nueva discoteca</h2>
            <div class="box">
                <input type="text" placeholder="Nombre">
                <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>

        <div ng-show="GestionDisco && !NuevaDisco">

            <h2>Gestión discotecas</h2>
            <div class="box">
                <select ng-model="DiscotecaSeleccionada" style="max-width :100%" class="form-control">
                    <option ng-repeat="x in Discotecas" ng-value="x">{{x.Descripcion}}</option>
                </select>
                <br />
                <select ng-model="UsuarioSeleccionado" ng-change="VerificarPermisos()" style="max-width :100%" class="form-control">
                    <option ng-repeat="x in DiscotecaSeleccionada.Usuario_Discotecas" ng-value="x.AspNetUser">{{x.AspNetUser.Email}}</option>
                </select>
                <br />
                {{UsuarioSeleccionado.Email}}
                <table style="color:black" class="table" id="ventaentradas">
                    <thead>
                        <tr>
                            <th>Permisos</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr class="">

                            <td>Administrador </td>
                            
                            <td ng-show="Administrador"><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
                            <td ng-show="!Administrador"><button class="btn btn-success glyphicon glyphicon-plus-sign"></button></td>
                        </tr>
                        <tr class="info">

                            <td>Cajero Bar </td>
                            <td ng-show="CajeroBar"><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
                            <td ng-show="!CajeroBar"><button class="btn btn-success glyphicon glyphicon-plus-sign"></button></td>
                        </tr>

                        <tr class="info">

                            <td>Cajero Entrada </td>
                            <td ng-show="CajeroEntrada"><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
                            <td ng-show="!CajeroEntrada"><button class="btn btn-success glyphicon glyphicon-plus-sign"></button></td>
                        </tr>

                        <tr class="info">

                            <td>Gestor entradas </td>
                            <td ng-show="GestorEntrada"><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
                            <td ng-show="!GestorEntrada"><button class="btn btn-success glyphicon glyphicon-plus-sign"></button></td>
                        </tr>
                        <tr class="info">

                            <td>Gestor consumiciones </td>
                            <td ng-show="GestorConsumicion"><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
                            <td ng-show="!GestorConsumicion"><button class="btn btn-success glyphicon glyphicon-plus-sign"></button></td>
                        </tr>

                    </tbody>



                </table>


                <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>

    </div>
</div>