<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency - Start Bootstrap Theme</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <link href="../../Content/agency.css" rel="stylesheet" />
    <link href="../../Content/_contact.css" rel="stylesheet" />
    <link href="../../Content/_footer.css" rel="stylesheet" />
    <link href="../../Content/_global.css" rel="stylesheet" />
    <link href="../../Content/_masthead.css" rel="stylesheet" />
    <link href="../../Content/_mixins.css" rel="stylesheet" />
    <link href="../../Content/_navbar.css" rel="stylesheet" />
    <link href="../../Content/_portfolio.css" rel="stylesheet" />
    <link href="../../Content/_services.css" rel="stylesheet" />
    <link href="../../Content/_team.css" rel="stylesheet" />
    <link href="../../Content/_timeline.css" rel="stylesheet" />
    <link href="../../Content/_variables.css" rel="stylesheet" />

    <script src="../../Content/agency.min.js"></script>
</head>
<body style="background-image: url('../../img/header-bg.jpg');">


    <!-- Header -->
    <header class="masthead">
        <div ng-show="VerHeader" class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a FindeInnova!</div>
                <div class="intro-heading text-uppercase">Conoce la experiencia de FunClub</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" ng-click="VerHeader = false">Cuéntame más</a>
            </div>
        </div>
    </header>

    <!-- Team -->
    <section class="bg-light" id="team" style="padding: 10px 10px;color:azure;">
        <div class="container" style="border:12px; ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="text-shadow:4px 4px black;">
                        <h2 class="section-heading text-uppercase">¿Cuál es nuestra misión?</h2><h2 class="section-heading text-uppercase"><span class="glyphicon glyphicon-edit"></span></h2>
                    </div>
                    <div>
                        <p style="font-size:22px; font-weight:bold;" class="section-subheading">Somos una empresa dedicada a brindar servicios de software a la industria del entretenimiento. Nuestro principal objetivo el lograr imponer nuestros servicios en la mayoría de las discotecas de Capital Federal y la provincia de Buenos Aires, logrando que nuestros clientes se sientan satisfechos no solo por la parte técnica de nuestros productos, sino que también el alto poder de generar valor en sus negocios de cara al cliente y, como resultado, procurar un notable incremento en sus beneficios económicos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />

    <section class="bg-light" id="team" style="padding: 10px 10px;color:azure;">
        <div class="container" style="border:12px; ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="text-shadow:4px 4px black;">
                        <h2 class="section-heading text-uppercase">¿A qué apuntamos?</h2>
                        <h2 class="section-heading text-uppercase"><span class="glyphicon glyphicon-eye-open"></span></h2>
                    </div>
                    <div>
                        <p style="font-size:22px; font-weight:bold;" class="section-subheading">Brindar el mejor servicio de software para entretenimientos, de la mano de los mejores profesionales en el rubro, permitiendo que nuestros clientes se vean satisfechos por la calidad y facilidad de uso, cumpliendo los requerimientos de los mismos en forma responsable, eficiente y rentable, persistiendo nuestra posición de liderazgo en el sector a largo plazo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
