<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency - Start Bootstrap Theme</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <link href="../../Content/agency.css" rel="stylesheet" />
    <link href="../../Content/_masthead.css" rel="stylesheet" />


    <link href="../../Content/Planes.css" rel="stylesheet" />
    <style>
        .parpadea {
            animation-name: parpadeo;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            -webkit-animation-name: parpadeo;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
        }

        @-moz-keyframes parpadeo {
            0% {
                opacity: 1.0;
            }

            50% {
                opacity: 0.0;
            }

            100% {
                opacity: 1.0;
            }
        }

        @-webkit-keyframes parpadeo {
            0% {
                opacity: 1.0;
            }

            50% {
                opacity: 0.0;
            }

            100% {
                opacity: 1.0;
            }
        }

        @keyframes parpadeo {
            0% {
                opacity: 0.7;
            }

            50% {
                opacity: 0.9;
            }

            100% {
                opacity: 1.0;
            }
        }
    </style>
</head>
<body>


    <!-- Header -->
    <!--<header class="masthead">
        <div ng-show="VerHeader" class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a FindeInnova!</div>
                <div class="intro-heading text-uppercase">Conoce la experiencia de FunClub</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" ng-click="VerHeader = false">Cuéntame más</a>
            </div>
        </div>
    </header>-->

    <div class="container-fluid" style="padding-top:2%">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="background:url('https://media.giphy.com/media/eJs0r95CHD8Xu/giphy.gif');text-align:center;color:azure;padding-top:5%;padding-bottom:5%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                   
                        <h1 translate="TITULO_HOME" style="text-shadow:5px 5px black;">                           
                        </h1>
                <br />
                        <h2 translate="SLOGAN" style="text-shadow:3px 3px black;">
                         
                        </h2>
              
                    <br />
                   
                    <a ng-click="VerPlanes == false ? VerPlanes = true : VerPlanes = false;">
                        <button style="font-size:25px;text-shadow:2px 2px black;" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span translate="DEMO" ></span></button>
                    </a>
               
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="color:black;" ng-show="VerPlanes">
        <div class="row">
            <h1 style="text-shadow:5px 5px black;color:azure;text-align:center;">
                Nuestros planes
            </h1>
            <br />
            <div class="col-xs-12 col-md-3" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Free Demo!
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $0<span class="subscript">/MES</span>
                            </h1>
                            <small>Precio en $USD</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    5 Cuentas
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    1 Discoteca
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Todos los roles disponibles
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                   Todas las funcionalidades disponibles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Velocidad de servicio Premium.
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                   Sistema de reportes semanales
                                    <br />
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="/Account/Register" class="btn btn-primary" role="button">Registro</a>
                        Primer mes prueba!
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bronze
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $10<span class="subscript">/MES</span>
                            </h1>
                            <small>Precio en $USD</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    25 Cuentas
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    2 Discotecas    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Todos los roles disponibles
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Todas las funcionalidades disponibles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Velocidad de servicio Premium.
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sistema de reportes semanales y mensuales vía mail y métricas por aplicación.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://www.jquery2dotnet.com" class="btn btn-primary" role="button">Registro</a>
                        1 mes 50% OFF
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-success">
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">
                                MAS
                                <br>
                                COMPRADO
                            </span>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Silver
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $20<span class="subscript">/MES</span>
                            </h1>
                            <small>Precio es $USD</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    100 Cuentas
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    5 Discotecas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Todos los roles disponibles
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Todas las funcionalidades disponibles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Velocidad de servicio Premium.
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sistema de reportes semanales, mensuales, métricas gerenciales, reportes PDF, EXCEL y mucho más!
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://www.jquery2dotnet.com" class="btn btn-primary" role="button">Registro</a>
                        1 mes 50% OFF
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Gold
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $35<span class="subscript">/MES</span>
                            </h1>
                            <small>Precio en $USD</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    Infinitas Cuentas
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Infinitas Discotecas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Todos los roles disponibles
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Todas las funcionalidades disponibles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Velocidad de servicio Premium.
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sistema de reportes semanales, mensuales, métricas gerenciales, reportes PDF, EXCEL y mucho más!
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://www.jquery2dotnet.com" class="btn btn-primary" role="button">Registro</a> 1 mes 50% OFF
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Team -->
    <section ng-show="VerQuienes && !VerPlanes" id="team" style="padding: 10px 10px;color:azure;">
        <div class="container" style="border:12px; ">
            <div class="row">
                <div class="jumbotron col-lg-12 text-center" style="background-color:#100f0f96;">
                    <div style="text-shadow:4px 4px black;">
                        <h2 translate="MISION_TITULO" class="section-heading text-uppercase"></h2><h2 class="section-heading text-uppercase"><span class="glyphicon glyphicon-edit"></span></h2>
                    </div>
                    <div>
                        <p translate="MISION" style="font-size:22px; font-weight:bold;" class="section-subheading"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section ng-show="VerQuienes && !VerPlanes" id="team" style="padding: 10px 10px;color:azure;">
        <div class="container" style="border:12px; ">
            <div class="row">
                <div style="background-color:#100f0f96;" class="jumbotron col-lg-12 text-center">
                    <div style="text-shadow:4px 4px black;">
                        <h2 translate="VISION_TITULO" class="section-heading text-uppercase"></h2>
                        <h2  class="section-heading text-uppercase"><span class="glyphicon glyphicon-eye-open"></span></h2>
                    </div>
                    <div>
                        <p translate="VISION" style="font-size:22px; font-weight:bold;" class="section-subheading"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </body>
</html>
