<style>
    .red {
        background-color: #ac1b1b;
        color: white;
        font-weight: bold;
    }

    #medioPago .btn:hover, .btn:focus {
        /* color: #333333; */
        color: white;
        background-color: #ac1b1b;
        text-decoration: none;
    }

    .credit-card-box .panel-title {
        display: inline;
        font-weight: bold;
    }

    .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
    }

    .credit-card-box label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .credit-card-box .payment-errors {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .credit-card-box label {
        display: block;
    }
    /* The old "center div vertically" hack */
    .credit-card-box .display-table {
        display: table;
    }

    .credit-card-box .display-tr {
        display: table-row;
    }

    .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    /* Just looks nicer */
    .credit-card-box .panel-heading img {
        min-width: 180px;
    }
</style>

<div pdf-save-content="idOne" ng-show="Imprimir">
     <h4>Ticket de entrada</h4>

    <h4>Subtotal: $ARG {{SubTotal}}</h4>

    <div class="col-md-12">
        <div ng-repeat="x in Venta" class="row" style="border:2px solid black;border-style:dashed;margin-bottom:2%;">
            <div class="col-md-8">
                <h5>{{x.Descripcion}}</h5>
                <h5>Cantidad: {{x.Cantidad}}</h5>
                <h5>Subtotal: $ARG {{x.PrecioEntradas[0].Precio * x.Cantidad}}</h5>
            </div>

        </div>
    </div>
       <h6>Presentar en la entrada para su ingreso.</h6>
    <h6>Funclub!</h6>
    <br />
</div>



<div ng-show="!CargandoPago">
    <div ng-show="!Continuar">
        <h1>Detalle de venta</h1>
        <hr />
        <div class="col-md-12">
            <div ng-repeat="x in Venta" class="row" style="border:2px solid black;border-style:dashed;margin-bottom:2%;">
                <div class="col-md-8">
                    <h4>{{x.Descripcion}}</h4>
                    <h5>Cantidad: {{x.Cantidad}}</h5>
                    <h5>Subtotal: $ARG {{x.PrecioEntradas[0].Precio * x.Cantidad}}</h5>
                </div>

            </div>
        </div>
        <hr style="color:black" />
        <button ng-click="Continuar = true;" style="width:100%" class="btn btn-success">Continuar</button>
    </div>

    <div ng-show="Continuar  && !Imprimir">
        <h1>Medio de pago</h1>
        <hr />
        <div class="form-inline">
            <button id="medioPago" ng-click="EFE = true;TDB = false;TCC = false;" ng-class="EFE ? 'red' : ''" class="btn">Efectivo</button>
            <button id="medioPago" ng-click="EFE = false;TDB = true;TCC = false;" ng-class="TDB ? 'red' : ''" class="btn">Tarjeta de débito</button>
            <button id="medioPago" ng-click="EFE = false;TDB = false;TCC = true;" ng-class="TCC ? 'red' : ''" class="btn">Tarjeta de crédito</button>
            <hr />
        </div>

        <div ng-show="ErrorPago != ''">
            <div class="alert alert-warning">
                <strong>Error:</strong> {{ErrorPago}}
            </div>
        </div>

        <div ng-show="EFE">
            <div ng-show="Efectivo && !EfectivoConfirmado" class="panel panel-default credit-card-box">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <h3 class="panel-title display-td">Pago efectivo</h3>
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="cardNumber">Monto pagado</label>
                        <div class="input-group">
                            <input ng-model="MontoEfectivoPagado" style="max-width:100%;width:100%" type="number"
                                   placeholder="Monto pagado por el cliente"
                                   required />
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        </div>
                    </div>
                    <hr />
                    <h3>Subtotal: $ARG {{SubTotal}}</h3>
                    <h3>Vuelto: {{MontoEfectivoPagado - SubTotal >= 0 ? '$ARG ' + (MontoEfectivoPagado - SubTotal) : 'Ingresar monto válido'}}</h3>
                </div>
            </div>

            <div ng-show="EfectivoConfirmado && !Imprimir">
                <h3>Ticket finalizado correctamente!</h3>
                <br />
                <div class="form-inline">
                    <h4>Medio de pago: Efectivo</h4>
                    <h4>Monto entregado: $ARG {{MontoEfectivoPagado}}</h4>
                    <h4>Vuelto entregado: $ARG {{MontoEfectivoPagado - SubTotal}}</h4>
                    <h4>Total venta: $ARG {{SubTotal}}</h4>
                </div>
            </div>
            <hr />
        </div>
        <!-- If you're using Stripe for payments -->
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <div ng-show="(TCC || TDB)" class="container">
            <div class="row" ng-show="!PagoTarjetaOk">
                <!-- You can make it whatever width you want. I'm making it full width
                on <= small devices and 4/12 page width on >= medium devices -->
                <div>


                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table">
                            <div class="row display-tr">
                                <h3 class="panel-title display-td">Payment Details</h3>
                                <div class="display-td">
                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="cardNumber">CARD NUMBER</label>
                                            <div class="input-group">
                                                <input style="max-width:100%;width:100%" type="tel"
                                                       class="form-control"
                                                       name="cardNumber"
                                                       placeholder="Valid Card Number"
                                                       ng-model="TarjetaNro" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"
                                                       ng-pattern="/^\d{1,16}$/"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span></label>
                                            <input type="tel"
                                                   class="form-control"
                                                   name="cardExpiry"
                                                   placeholder="MM / YY"
                                                   ng-model="FechaVencimiento"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CV CODE</label>
                                            <input type="tel"
                                                   class="form-control"
                                                   name="cardCVC"
                                                   placeholder="CVC"
                                                   ng-model="CodigoSeguridad"
                                                   required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="cardExpiry"><span class="hidden-xs">NOM/APE</span></label>
                                            <input type="tel"
                                                   class="form-control"
                                                   name="cardExpiry"
                                                   placeholder="NOMBRE Y APELLIDO"
                                                   autocomplete="cc-exp"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">DNI</label>
                                            <input type="tel"
                                                   class="form-control"
                                                   name="cardCVC"
                                                   placeholder="DNI"
                                                   ng-model="NumeroDocumento"
                                                   required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- CREDIT CARD FORM ENDS HERE -->


                </div>

            </div>
            <div ng-show="PagoTarjetaOk && !Imprimir" style="text-align:center;">
                <img width="380" height="230" src="https://www.hlb.com.my/content/dam/hlb/my/images/Personal/Credit_Cards/Gold-Card/gold_product_tile_front_en.png" />
                <h3>Pago finalizado correctamente!</h3>
                <h4>SubTotal: $ARG {{SubTotal}}</h4>
                <h4 ng-show="TCC">Intereses cobrados: %3</h4>
                <h4 ng-show="TCC">Monto intereses: $ARG {{SubTotal * 0.03}}</h4>
                <h4 ng-show="TCC">SubTotal: $ARG {{SubTotal * 1.03}}</h4>
                <hr />
            </div>
        </div>
    </div>
</div>

<div ng-show="!CargandoPago && Continuar" class="form-inline" style="text-align:center">
    <div ng-show="!EfectivoConfirmado && !PagoTarjetaOk">
        <button ng-click="Continuar = false;" class="btn btn-primary" style="width:40%">Ver ticket</button>
        <button ng-click="ProcesarPago(MontoEfectivoPagado,EFE,TDB,TCC,NumeroDocumento,TarjetaNro,CodigoSeguridad,FechaVencimiento);" class="btn btn-success" style="width:40%">Confirmar</button>
    </div>

    <div ng-show="EfectivoConfirmado || PagoTarjetaOk">
        <button ng-show="!Imprimir" ng-click="Imprimir = true" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Generar ticket</button>
        <button ng-show="Imprimir" pdf-save-button="idOne" pdf-name="Ticket.pdf" id="cmd" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
        <button ng-click="Inicializar()" class="btn btn-success">Nueva venta <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
</div>

<div ng-show="CargandoPago" style="text-align:center">
    <h1>Medio de pago</h1>
    <hr />
    <img width="300" height="250" src="https://www.aeonsolutionsllc.com/images/mobile_payment.gif" />
    <h3>Procesando pago...</h3>
    <hr />
</div>





