<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<h3>Modificar Discoteca</h3>
<label>Nombre</label>
<input type="text" value="{{DiscotecaSeleccionada.Descripcion}}" />
<label>¿Es productiva?</label>
<br />
<!--<input type="checkbox" checked="{{DiscotecaSeleccionada.Productiva}}"/>-->
<label class="switch">
    <input type="checkbox" ng-checked="{{DiscotecaSeleccionada.Productiva}}">
    <span class="slider round"></span>
</label>
<br />
<label>Agregar Usuario</label>
<input ng-model="NuevoUsuario" type="text" placeholder="Email"/>
<button ng-click="AgregarUsuario(NuevoUsuario,DiscotecaSeleccionada.CodDiscoteca)" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</button>
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in DiscotecaSeleccionada.Usuario_Discotecas" class="">

            <td>{{x.EmailUsuario}} </td>

            <td ng-click="EliminarUsuario(x.EmailUsuario)" ><button class="btn btn-danger glyphicon glyphicon-remove"></button></td>
           
        </tr>
    </tbody>
</table>
<br />
<button class="btn btn-success">Confirmar</button>