<div ng-include="'/SPA/Views/ToolBar.html'"></div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--
<script src="https://code.highcharts.com/modules/exporting.js"></script>
-->
<style>
    .grafico {
        min-width: 310px;
        max-width: 400px;
        height: 280px;
        margin: 0 auto
    }

    .main-header {
        font-size: x-large;
        color: #888;
        font-family: Verdana;
        margin-bottom: 20px;
    }

    .destaque {
        color: #f88;
        font-weight: bolder;
    }

    .highcharts-tooltip h3 {
        margin: 0.3em 0;
    }
</style>

<div class="container">
    <div class="row">

        <div class="main-header">Funclub! <span class="destaque">{{Dashboard.Disco}}</span></div>
    </div>

    <h2 translate="DASHBOARD"></h2>



    <div class="col-md-3">

        <div class="panel panel-info" style="border:none">
            <div class="panel-heading" style="color: #fdfdfd;background-color:#1e012ad1;border-color:none;border:none;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-list-ol fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4 class="announcement-heading">{{Dashboard.CantidadEntradasVendidas}}</h4>
                        <p translate="CANTIDAD"></p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" style="background-color: #1e012ad1;color:#ffffff;">
                    <div class="row">
                        <div translate="ENTRADA" class="col-xs-6">
                            
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>


    <div class="col-md-3">
        <div class="panel panel-info" style="border:none;background-color:none;">
            <div class="panel-heading" style="color: #fdfdfd;background-color:#1e012ad1;border-color:none;border:none;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4 class="announcement-heading"> {{Dashboard.FacturacionEntradas | currency}}</h4>
                        <p translate="FACTURACION"></p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" style="background-color: #1e012ad1;color:#ffffff;">
                    <div class="row">
                        <div translate="ENTRADA" class="col-xs-6">
                            
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-info" style="border:none;background-color:none;">
            <div class="panel-heading" style="color: #fdfdfd;background-color:#1e012ad1;border-color:none;border:none;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-list-ol fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4 class="announcement-heading">{{Dashboard.CantidadEntradasVendidas}}</h4>
                        <p translate="CANTIDAD"></p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" style="background-color: #1e012ad1;color:#ffffff;">
                    <div class="row">
                        <div translate="ENTRADA" class="col-xs-6">
                            
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-info" style="border:none;background-color:none;">
            <div class="panel-heading" style="color: #fdfdfd;background-color:#1e012ad1;border-color:none;border:none;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4 class="announcement-heading"> {{Dashboard.FacturacionEntradas | currency}}</h4>
                        <p translate="FACTURACION"></p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" style="background-color: #1e012ad1;color:#ffffff;">
                    <div class="row">
                        <div translate="ENTRADA" class="col-xs-6">
                            
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>




    <!--<div class="col-md-3">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"> 33</p>
                        <p class="announcement-text">Consumiciones Vendidas</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Details
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>



    <div class="col-md-3">

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"> $7.899</p>
                        <p class="announcement-text"> Facturación consumiciones <i class=""></i>  </p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Details
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>-->
    <div class="col-md-12">
        <table class="table" id="fichadas">
            <thead>
                <tr>

                    <th>DNI</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>FECHA NAC</th>
                    <th>HORA ENTRADA</th>
                 
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="x in Dashboard.clienteFichadas">

                    <td>
                        {{x.Dni}}
                    </td>
                    <td>
                        {{x.Nombre}}
                    </td>
                    <td>
                        {{x.Apellido}}
                    </td>
                    <td>{{x.FechaNac}}</td>
                    <td>
                        {{x.FechaHoraEntrada | date:'hh:mm:ss'}}
                    </td>

                </tr>


            </tbody>



        </table>

        <button class="btn btn-success" ng-click="exportToExcel('#fichadas')">
            <span class="glyphicon glyphicon-share"></span> <span translate="EXPORTEXCEL_BTN"></span>
        </button>
        </div>



        <div class="col-md-12">

            <h3 translate="TIEMPO_REAL"></h3>

            <table class="table" id="ventaentradas">
                <thead>
                    <tr>

                        <th translate="HORASOL">Hora Sol.</th>
                        <th translate="MEDIOP">Medio.P/</th>
                        <th>Total</th>
                        <th translate="ESTADO">Estado.P/</th>
                        <th translate="HPAGO">Hora pago</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="x in Dashboard.EntradasVendidas">

                        <td>
                            {{x.FechaAlta | date:'hh:mm:ss'}}
                        </td>
                        <td>
                            {{x.Pago.DetallePagoEfectivoes.length >0 ? 'Efectivo': ''}}
                            {{x.Pago.DetallePagoTarjetaCreditoes.length >0  ? 'Credito': ''}}
                            {{x.Pago.DetallePagoTarjetaDebitoes.length >0  ? 'Debito': ''}}
                        </td>
                        <td>
                            $ARG {{x.Pago.Monto}}
                        </td>
                        <td>{{x.Pago.Estado == 1 ? "Confirmado" : "Cancelado"}}</td>
                        <td>
                            {{x.Pago.FechaAlta | date:'hh:mm:ss'}}
                        </td>

                    </tr>


                </tbody>



            </table>

            <button class="btn btn-success" ng-click="exportToExcel('#ventaentradas')">
                <span class="glyphicon glyphicon-share"></span> <span translate="EXPORTEXCEL_BTN"></span>
            </button>

        </div>

        <!--<div class="col-md-6">

            <h3>Venta de consumiciones en tiempo real</h3>

            <table class="table" id="ventabarra">
                <thead>
                    <tr>
                        <th>Entrada</th>
                        <th>Hora Sol.</th>
                        <th>Medio.P/</th>
                        <th>Total</th>
                        <th>Estado.P/</th>
                        <th>Hora pago</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>
                            Champagne Federico C/ 2 Speed
                       </td>
                        <td>
                            09/09/2018 02:20
                        </td>
                        <td>
                            Efectivo
                        </td>
                        <td>
                            $550
                        </td>
                        <td>Confirmado</td>
                        <td>
                            09/09/2018 02:21
                        </td>

                    </tr>


                </tbody>

            </table>

            <button class="btn btn-success" ng-click="exportToExcel('#ventabarra')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button>-->
    </div>

</div>
