
<nav class="navbar navbar-default " role="navigation" style="margin-top:1%;background-color:#171023;border-color:aquamarine">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bienvenido</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/Principal">Estado de situación</a></li>
                <li><a href="#!/CargaMasiva">Carga masiva de entradas</a></li>
                <li><a href="#!/DiscoManager">Mis discotecas</a></li>
                <li><a href="/Productoes">Gestión de productos</a></li>
                <li><a href="/Entradas">Gestión de entradas</a></li>
                <li><a href="#!/VentaEntrada">Venta de entradas</a></li>
                <li class="dropdown">
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>-->
                </li>
            </ul>

           
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>